
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

input, select {
  vertical-align:middle;
}


//Media queries
@mixin media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }
}

$small-breakpoint: 560px;
$small: 'small';
$medium-breakpoint: 768px;
$medium: 'medium';
$medium-large-breakpoint: 960px;
$medium-large: 'medium-large';
$large-breakpoint: 1024px;
$large: 'large';

$breakpoints: (
  $medium '(min-width: #{$medium-breakpoint - 1})',
  $medium-large '(min-width: #{$medium-large-breakpoint - 1})',
  $large '(min-width: #{$large-breakpoint - 1})',
  $small '(min-width: #{$small-breakpoint - 1})'
);

.app-container {
  background-image: linear-gradient(#4faceb, #a2ecff);
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  height: 100vh;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  @include media-query($medium) {
    align-items: center;
  }

  @include media-query($large) {
    flex-direction: row;
  }
}
.main-container {
  margin-right: 0px;

  @include media-query($large) {
    margin-right: 50px;
  }

  .title-container {
    margin-bottom: 24px;
  
    .title-container-inner {
      h1 {
        text-align: center;
        font-size: 50px;
        color: #FFF;
        margin-bottom: 8px;
        
        @include media-query($large) {
          text-align: right;
        }
      }
      
      p {
        text-align: center;
        font-weight: 100;
        color: #FFF;
        font-size: 20px;
    
        @include media-query($large) {
          text-align: right;
        }
      }
    }
  }
  
  .inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    @include media-query($large) {
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: wrap;
    }

    ::placeholder {
      color: #4faceb;
      opacity: 0.75; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #4faceb;
      opacity: 0.75;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: #4faceb;
      opacity: 0.75;
    }
  
    input {
      border-radius: 4px;
      padding: 6px;
      border: 2px solid #FFF;
      margin: 8px;
      background-color: #FFF;
      color: #4faceb;
      font-size: 20px;
    }
  
    label {
      color: #FFF;
      font-size: 20px;
    }
  
    button {
      border-radius: 4px;
      padding: 6px 12px;
      border: 2px solid #4faceb;
      margin: 8px 0 8px 8px;
      background-color: #4faceb;
      color: #FFF;
      font-size: 20px;
    }
  }
}

.parks-container, .error-message  {
  color: #4faceb;
  background-color: #FFF;
  border-radius: 4px;
  padding: 16px;
  margin-top: 24px;

  ul {
    list-style-type: none;

    li {
      margin: 10px 0;
      font-size: 20px;
      
      a {
        color: #4faceb;
      }
    }
  }
}

.image {
  border-radius: _size(border-radius);
  border: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;

  &.phone {
    box-shadow: none;
    border-radius: 0;
    margin: 0 auto;
    width: 13em;

    @include media-query($medium) {
      margin: 0 0 0 0;
    }


    img {
      border-radius: 0;
      display: block;
      position: relative;
      width: 100%;
    }

    .inner, &:before, &:after {
      display: block;
      border: solid 2px #FFF;
    }

    .inner {
      position: relative;

      &:before, &:after {
        content: '';
        position: absolute;
        left: 50%;
      }

      &:before {
        top: -1.375em;
        margin-left: -1em;
        width: 2em;
        height: 0.25em;
        border-radius: 0.5em;
        background: #FFF;
      }

      &:after {
        bottom: -2.75em;
        margin-left: -1em;
        width: 2em;
        height: 2em;
        border-radius: 100%;
        border: solid 2px #FFF;
      }
    }

    &:before, &:after {
      content: '';
    }

    &:before {
      height: 2.5em;
      border-radius: 1em 1em 0 0;
      border-bottom: 0;
    }

    &:after {
      height: 3.5em;
      border-radius: 0 0 1em 1em;
      border-top: 0;
    }
  }
}